---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
  values:
    service:
      externalTrafficPolicy: Cluster
      annotations:
        metallb.universe.tf/allow-shared-ip: external-svc
    provider:
      kubernetesCRD: 
        enabled: true
        allowCrossNamespace: true
    metrics:
      prometheus: {}
