apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: redis
  namespace: flux-system
spec:
  interval: 30m
  url: oci://registry-1.docker.io/cloudpirates/redis
  timeout: 2m
  ref: 
    semver: "0.16.6"