name: Build and Push Docker Images with Git Tag

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Tag name for the Docker image"
        required: true
        default: "latest"
      variant:
        description: "Specific variant to build (e.g., ubuntu-nfs). Leave empty to build all."
        required: false
        default: ""

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Determine tag name
        run: |
          if [ -n "${{ github.event.inputs.tag_name }}" ]; then
            echo "TAG_NAME=${{ github.event.inputs.tag_name }}" >> $GITHUB_ENV
          else
            echo "TAG_NAME=$(echo ${GITHUB_REF#refs/tags/})" >> $GITHUB_ENV
          fi

      - name: Build and push Docker images
        run: |
          # Check if a specific variant was provided
          if [ -n "${{ github.event.inputs.variant }}" ]; then
            variants=("./images/${{ github.event.inputs.variant }}/Dockerfile")
          else
            variants=$(find ./images -name 'Dockerfile')
          fi

          # Loop through matching Dockerfiles and build/push images
          for dockerfile in $variants; do
            # Extract the directory name (e.g., ubuntu-nfs, ubuntu-hw)
            dist=$(basename $(dirname "$dockerfile"))

            # Build and push the image
            echo "Building and pushing image for $dist with tag $TAG_NAME..."
            docker build --build-arg TAG=$TAG_NAME -t ghcr.io/${{ github.repository_owner }}/$dist:$TAG_NAME "$(dirname "$dockerfile")"
            docker push ghcr.io/${{ github.repository_owner }}/$dist:$TAG_NAME
          done
        env:
          TAG_NAME: ${{ env.TAG_NAME }}
